@import 'globals.css';

.date-label {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  background-color: aqua;

  &--current {
    background-color: #000;
    color: #fff;
  }

  &--past {
    background-color: #666;
    color: #fff;
  }
}
