:root {
  --font-weight-base: 400;
  --font-weight-md: 500;
  --font-weight-lg: 500;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --line-height-base: 1.25rem;
  --line-height-sm: 0.5rem;
  --line-height-lg: 1.5rem;
  --border-radius-base: 10px;
  --white: #ffffff;
  --black: #000000;
  --gray-01: #e4e8ed;
  --gray-02: #767778;
  --gray-03: #3c3e45;
  --gray-04: #252a31;
  --green-02: #4f917a;
}
